.button {
    display: inline-flex;
    align-items: center;
    padding: 0.5rem 0.75rem;
    border: none;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    background-color: #63b3ed;
    color: white;
}

.button:hover {
    background-color: #4299e1;
}

button:focus {
    --tw-border-opacity: 1;
    border-color: rgba(248, 113, 113, var(--tw-border-opacity));
}

button:active {
    --tw-border-opacity: 1;
    border-color: rgba(248, 113, 113, var(--tw-border-opacity));
    transition: ease-in-out;
    transition-duration: 150ms;
}